*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#container{
	margin: 0 auto;
	width: 1024px;
}
h1{
	height: 50px;
	text-align: center;
}
section{
	float:left;
	width: 50%;
	border: 1px black solid;
	height: 100px;
}
canvas{
	background-color: lightgray;
}

